.conversation-container {
    width: 630px;
    margin: 0 10px;  
    padding: 10px 16px;
    border-radius: 4px;
    background-color: #2c2c44;
}
.conversation-container > div {
    margin-bottom: 6px;
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
}
.conversation {
    display: inline-block;
    max-width: 314px;
    margin:0 4px;
    padding: 7px 16px;     border-radius: 4px;  background-color: #35364e;
    color: #8c96a9;   font-family: AppleSDGothicNeo; line-height: 1.6;font-size: 15px;
    font-weight: 500;
    vertical-align: middle;
}

.create-at {
    margin-top: auto;
    opacity: 0.6;
    font-family: SpoqaHanSans;
    font-size: 9px;
    line-height: 1.56;
    letter-spacing: normal;
    color: #8c96a9;
}


.conversation-container .left img{
    width: 38px;
    height: 38px;
    margin-right: 6px;
}

.conversation-container .right {
    text-align: right;
    flex-direction: row-reverse;
}
.conversation-container .right button {
   text-align: right;
   display: flex;
   flex-direction: row-reverse;
}
.conversation-container .right.active .conversation {
    color: #00f7ff;
}
